#foreach($client in $clients)
<p>$client.getClientName()</p>
<form action="/clients/$client.getId()/delete" method="post">
     <button class="btn btn-danger" id="delete">Delete Client </button>
   </form>
   #end
