<h2>New Category:</h2>

<form action="/stylists" method="post">
  <label for="stylistName">Category name</label>
  <input id="stylistName" name="stylistName" type="text">
  <label for="stylistNumber">Category name</label>
  <input id="stylistNumber" name="stylistNumber" type="text">
  <button type="submit" class="btn btn-success">Create Stylist</button>
</form>
